<html>
	<body>
		
		<form name="friends" method="post" action="/friends/create">
			<label>Name:</label></br>
			
			<input type="text" name="name"/></br>
			
			<label>Address:<label></br>
			
			<input type="text" name="address"/></br>
			
			<input type="submit" value="submit"/>

		
		</form>
	</body>
</html>
