<h1>Subject</h1>
<table>
	<tr>
		<td><strong>Subject :</strong></td>
		<td><%= @subjects.name %></td>
		
	</tr>
	<tr>
		<td><strong>Course :</strong></td>
		<td><%= @subjects.course %></td>

	</tr>
	<tr>
		<td><%= link_to 'back', :action => 'index' %></td>
	</tr>
</table>
